In [318]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F

spark = SparkSession \
    .builder \
    .appName("test") \
    .config("spark.some.config.option", "setting") \
    .getOrCreate()

In [319]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns 
import numpy as np

In [320]:
df = spark.read.csv('data_csv/presences.csv', header=True, inferSchema=True)

In [321]:

a = df.groupBy("aula", "sede", "polo").count().collect()
print(len(a))

df = df.filter(df['aula'] == '2').filter(df['sede'] == '1').filter(df['polo'] == '1')

77

In [322]:
df.dropDuplicates(['sede'])

DataFrame[_c0: int, _id: string, aula: int, sede: int, polo: int, inDate: timestamp, date: string, posto: int, outDate: timestamp]

In [338]:
pdf=pd.read_csv('presence_ds.csv')

In [355]:
pdf.describe()

,id,username,aula,sede,polo,posto
count,10650.000000,10650.000000,10650.000000,10650.000000,10650.000000,10650.000000
mean,75990.548263,276.429577,16.116338,1.422629,6.473521,12.071268
std,16017.161916,215.819324,15.985006,0.817153,4.436159,11.257780
min,111.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,80235.000000,102.000000,2.000000,1.000000,4.000000,3.000000
50%,80852.000000,228.000000,11.000000,1.000000,5.000000,8.000000
75%,81306.000000,403.000000,25.000000,2.000000,9.000000,17.000000
max,83367.000000,882.000000,84.000000,4.000000,22.000000,68.000000

In [356]:
pdf.na().count()

AttributeError: 'DataFrame' object has no attribute 'na'

In [337]:
# pdf=pdf.dropna()

In [340]:
pdf.describe()

,id,username,aula,sede,polo,posto
count,10650.000000,10650.000000,10650.000000,10650.000000,10650.000000,10650.000000
mean,75990.548263,276.429577,16.116338,1.422629,6.473521,12.071268
std,16017.161916,215.819324,15.985006,0.817153,4.436159,11.257780
min,111.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,80235.000000,102.000000,2.000000,1.000000,4.000000,3.000000
50%,80852.000000,228.000000,11.000000,1.000000,5.000000,8.000000
75%,81306.000000,403.000000,25.000000,2.000000,9.000000,17.000000
max,83367.000000,882.000000,84.000000,4.000000,22.000000,68.000000

In [341]:
len(pdf.aula.unique())
#69 different classrooms

69

In [342]:
len(pdf.polo.unique())
#22 different departmentss

22

In [343]:
len(pdf.username.unique())
# 882 unique users

882

In [344]:
# pdf.date[0].split(" ")[0]
mydate=[]
for i in np.arange(0,len(pdf)):
    mydate.append(pdf.date[i].split(" ")[0])

In [345]:
mydate=pd.DataFrame(mydate,columns=['date'])

In [346]:
pdf.date

0          11/9/2020 8:27
1          11/9/2020 8:28
2          11/9/2020 8:32
3          11/9/2020 8:32
4          11/9/2020 8:32
               ...
10645    12/23/2020 10:55
10646    12/23/2020 10:55
10647    12/23/2020 11:03
10648    12/23/2020 11:20
10649    12/23/2020 14:27
Name: date, Length: 10650, dtype: object

In [347]:
mydate.date

0         11/9/2020
1         11/9/2020
2         11/9/2020
3         11/9/2020
4         11/9/2020
            ...
10645    12/23/2020
10646    12/23/2020
10647    12/23/2020
10648    12/23/2020
10649    12/23/2020
Name: date, Length: 10650, dtype: object

In [349]:
pdf['date']=mydate['date']

In [350]:
pdf.date

0         11/9/2020
1         11/9/2020
2         11/9/2020
3         11/9/2020
4         11/9/2020
            ...
10645    12/23/2020
10646    12/23/2020
10647    12/23/2020
10648    12/23/2020
10649    12/23/2020
Name: date, Length: 10650, dtype: object

In [351]:
new_df=pdf.groupby(['aula','sede','polo','date'])['posto'].agg('max').reset_index()

In [354]:
new_df.head(50)

    aula  sede  polo        date  posto
0      1     1     1  11/10/2020     48
1      1     1     1  11/11/2020     45
2      1     1     1  11/12/2020     45
3      1     1     1  11/13/2020     38
4      1     1     1  11/16/2020     41
5      1     1     1  11/17/2020     45
6      1     1     1  11/18/2020     48
7      1     1     1  11/19/2020     45
8      1     1     1  11/20/2020     44
9      1     1     1  11/23/2020     41
10     1     1     1  11/24/2020     51
11     1     1     1  11/25/2020     46
12     1     1     1  11/26/2020     51
13     1     1     1  11/27/2020     46
14     1     1     1  11/30/2020     44
15     1     1     1   11/9/2020     33
16     1     1     1   12/1/2020     48
17     1     1     1  12/10/2020     39
18     1     1     1  12/11/2020     38
19     1     1     1  12/14/2020     41
20     1     1     1  12/15/2020     48
21     1     1     1  12/16/2020     46
22     1     1     1  12/17/2020     43
23     1     1     1  12/18/2020     50
24     1     1     1   12/2/2020     25
25     1     1     1  12/21/2020     24
26     1     1     1  12/22/2020     29
27     1     1     1   12/3/2020     52
28     1     1     1   12/4/2020     47
29     1     1     1   12/9/2020     35
30     1     1     5  11/10/2020     46
31     1     1     5  11/11/2020     30
32     1     1     5  11/12/2020     37
33     1     1     5  11/16/2020     59
34     1     1     5  11/17/2020     28
35     1     1     5  11/18/2020     22
36     1     1     5  11/19/2020     28
37     1     1     5  11/20/2020     11
38     1     1     5  11/23/2020     68
39     1     1     5  11/24/2020     44
40     1     1     5  11/25/2020     26
41     1     1     5  11/26/2020     28
42     1     1     5  11/27/2020     13
43     1     1     5  11/30/2020     58
44     1     1     5   11/9/2020     60
45     1     1     5   12/1/2020     32
46     1     1     5  12/10/2020     20
47     1     1     5  12/14/2020     49
48     1     1     5  12/15/2020     22
49     1     1     5  12/16/2020     17

In [243]:
pdf.date=df2['myDate']

NameError: name 'df2' is not defined

In [245]:
pdf.date

0          11/9/2020 8:27
1          11/9/2020 8:28
2          11/9/2020 8:32
3          11/9/2020 8:32
4          11/9/2020 8:32
               ...
10645    12/23/2020 10:55
10646    12/23/2020 10:55
10647    12/23/2020 11:03
10648    12/23/2020 11:20
10649    12/23/2020 14:27
Name: date, Length: 10650, dtype: object

In [246]:
pdf

,_id,id,username,aula,sede,polo,inDate,date,posto,outDate
0,5fa8ef7d1bd2a03f4641a15e,81929,1,1,1,1,11/9/2020 8:27,11/9/2020 8:27,1,11/9/2020 13:05
1,5fa8efa51bd2a03f4641a15f,81098,2,1,1,1,11/9/2020 8:28,11/9/2020 8:28,2,11/9/2020 13:05
2,5fa8f0751bd2a03f4641a160,81009,3,1,1,1,11/9/2020 8:32,11/9/2020 8:32,3,11/9/2020 13:05
3,5fa8f0811bd2a03f4641a161,80492,4,1,1,1,11/9/2020 8:32,11/9/2020 8:32,4,11/9/2020 8:32
4,5fa8f0891bd2a03f4641a162,80492,4,1,1,1,11/9/2020 8:32,11/9/2020 8:32,5,11/9/2020 8:32
...,...,...,...,...,...,...,...,...,...,...
10645,5fe313f51c7ca18763114dca,81216,47,3,1,3,12/23/2020 10:55,12/23/2020 10:55,1,12/23/2020 13:05
10646,5fe314031c7ca18763114dcb,81490,49,3,1,3,12/23/2020 10:55,12/23/2020 10:55,2,12/23/2020 12:56
10647,5fe316041c7ca18763114dcc,81241,25,9,2,4,12/23/2020 11:03,12/23/2020 11:03,4,12/23/2020 13:05
10648,5fe319fe1c7ca18763114dcd,69271,821,48,1,12,12/23/2020 11:20,12/23/2020 11:20,14,12/23/2020 13:05
10649,5fe345a31c7ca18763114dd4,64785,882,31,1,1,12/23/2020 14:27,12/23/2020 14:27,1,NaN

In [395]:
booking=pd.read_json('data/roomBookings.json')
presence=pd.read_json('data/presences.json')
rooms=pd.read_json('data/rooms.json')
rs=pd.read_json('data/roomSchedule.json')

In [396]:
rooms

,_id,Sede,aulaId,aulaDes,capienza,poloDes,date,scheduleType,schedules
0,5f5b4fdd400b9fbfbe0b8e94,1,1.0,69,10,15,2020-10-02 19:17:16.414000+00:00,[],[]
1,5f5b4fdd400b9fbfbe0b8e95,1,2.0,25,24,15,2020-12-15 15:38:27.918000+00:00,[],[]
2,5f5b4fdd400b9fbfbe0b8e96,1,3.0,12,12,2,2020-10-29 10:10:23.875000+00:00,[],[]
3,5f5b4fdd400b9fbfbe0b8e97,1,4.0,16,10,2,2020-12-15 10:17:12.238000+00:00,[],[]
4,5f5b4fdd400b9fbfbe0b8e98,1,7.0,35,76,18,2020-12-16 10:04:16.903000+00:00,[],[]
...,...,...,...,...,...,...,...,...,...
143,5f9ade072358534e7e6d469c,3,NaN,123,50,29,2020-10-29 15:21:43.206000+00:00,[],[]
144,5fa05a957916daa867a158ae,1,NaN,31,14,1,2020-12-16 08:04:17.292000+00:00,[],[]
145,5fa05aa77916daa867a158af,1,NaN,36,9,1,2020-12-16 09:46:29.789000+00:00,[],[]
146,5fc95263eb6dbced74b94f68,2,NaN,124,6,4,2020-12-03 21:02:27.777000+00:00,[],[]
147,5fca3ca8eb6dbced74b951b7,2,NaN,125,13,14,2020-12-04 13:42:00.827000+00:00,[],[]

In [397]:
rooms=rooms.dropna()

In [398]:
result=pd.concat([rs,rooms],axis=1).reindex(rs.index)

In [399]:
result=result.dropna()

In [400]:

res = rs.merge(rooms, how='inner', left_on=['room'], right_on=['_id'])

In [401]:
new_data=res.drop(['_id_y','date_y','scheduleType','schedules'], axis=1)

In [402]:
new_data

,_id_x,bookings,room,date_x,Sede,aulaId,aulaDes,capienza,poloDes
0,5fa87aad1bd2a03f4641a130,"[{'_id': '5fa87aad1bd2a03f4641a131', 'start': ...",5f5b4fdd400b9fbfbe0b8ec3,2020-11-08 23:09:33.878000+00:00,3,3.0,81,10,22
1,5fa9af961bd2a03f4641a48a,"[{'_id': '5fa9af961bd2a03f4641a48b', 'start': ...",5f5b4fdd400b9fbfbe0b8ebd,2020-11-09 21:07:34.847000+00:00,1,6.0,51,20,7
2,5fb4471847f18b6282e260a7,"[{'_id': '5fb4471847f18b6282e260a8', 'start': ...",5f5b4fdd400b9fbfbe0b8ebd,2020-11-17 21:56:40.544000+00:00,1,6.0,51,20,7
3,5fc80fca21015899996e9332,"[{'_id': '5fc80fca21015899996e9333', 'start': ...",5f5b4fdd400b9fbfbe0b8ebd,2020-12-02 22:06:02.953000+00:00,1,6.0,51,20,7
4,5fd72063ff3b76b96dd78ede,"[{'_id': '5fd72063ff3b76b96dd78edf', 'start': ...",5f5b4fdd400b9fbfbe0b8ebd,2020-12-14 08:20:51.406000+00:00,1,6.0,51,20,7
5,5fd90793ff3b76b96dd7964f,"[{'_id': '5fd90793ff3b76b96dd79650', 'start': ...",5f5b4fdd400b9fbfbe0b8ebd,2020-12-15 18:59:31.229000+00:00,1,6.0,51,20,7
6,5fdbb5e5ff3b76b96dd79c68,"[{'_id': '5fdbb5e5ff3b76b96dd79c69', 'start': ...",5f5b4fdd400b9fbfbe0b8ebd,2020-12-17 19:47:49.033000+00:00,1,6.0,51,20,7
7,5fa9bb261bd2a03f4641a4c0,"[{'_id': '5fa9bb261bd2a03f4641a4c1', 'start': ...",5f5b4fdd400b9fbfbe0b8ee7,2020-11-09 21:56:54.603000+00:00,1,2.0,32,40,13
8,5fab1be31bd2a03f4641a8a1,"[{'_id': '5fab1be31bd2a03f4641a8a2', 'start': ...",5f5b4fdd400b9fbfbe0b8ee7,2020-11-10 23:01:55.486000+00:00,1,2.0,32,40,13
9,5facef9c64f3b8af34547b73,"[{'_id': '5facef9c64f3b8af34547b74', 'start': ...",5f5b4fdd400b9fbfbe0b8ee7,2020-11-12 08:17:32.354000+00:00,1,2.0,32,40,13
10,5fad311964f3b8af34547c91,"[{'_id': '5fad311964f3b8af34547c92', 'start': ...",5f5b4fdd400b9fbfbe0b8ee7,2020-11-12 12:56:57.996000+00:00,1,2.0,32,40,13
11,5fb4470a47f18b6282e26098,"[{'_id': '5fb4470a47f18b6282e26099', 'start': ...",5f5b4fdd400b9fbfbe0b8ee7,2020-11-17 21:56:26.911000+00:00,1,2.0,32,40,13
12,5fb8088047f18b6282e268f9,"[{'_id': '5fb8088047f18b6282e268fa', 'start': ...",5f5b4fdd400b9fbfbe0b8ee7,2020-11-20 18:18:40.539000+00:00,1,2.0,32,40,13
13,5fbe102f9de5cadc7a769421,"[{'_id': '5fbe102f9de5cadc7a769422', 'start': ...",5f5b4fdd400b9fbfbe0b8ee7,2020-11-25 08:05:03.467000+00:00,1,2.0,32,40,13
14,5fbe10309de5cadc7a769430,"[{'_id': '5fbe10309de5cadc7a769431', 'start': ...",5f5b4fdd400b9fbfbe0b8ee7,2020-11-25 08:05:04.156000+00:00,1,2.0,32,40,13
15,5fd7439eff3b76b96dd7900c,"[{'_id': '5fd7439eff3b76b96dd7900d', 'start': ...",5f5b4fdd400b9fbfbe0b8ee7,2020-12-14 10:51:10.284000+00:00,1,2.0,32,40,13
16,5faa91731bd2a03f4641a71a,"[{'_id': '5faa91731bd2a03f4641a71b', 'start': ...",5f5b4fdd400b9fbfbe0b8e9e,2020-11-10 13:11:15.957000+00:00,1,6.0,46,12,1
17,5fab20a71bd2a03f4641a8b6,"[{'_id': '5fab20a71bd2a03f4641a8b7', 'start': ...",5f5b4fdd400b9fbfbe0b8e9e,2020-11-10 23:22:15.541000+00:00,1,6.0,46,12,1
18,5fb25d6433a4610e6576a0a0,"[{'_id': '5fb25d6433a4610e6576a0a1', 'start': ...",5f5b4fdd400b9fbfbe0b8e9e,2020-11-16 11:07:16.376000+00:00,1,6.0,46,12,1
19,5fb2f3b633a4610e6576a221,"[{'_id': '5fb2f3b633a4610e6576a222', 'start': ...",5f5b4fdd400b9fbfbe0b8e9e,2020-11-16 21:48:38.066000+00:00,1,6.0,46,12,1
20,5fbccb479de5cadc7a7690b0,"[{'_id': '5fbccb479de5cadc7a7690b1', 'start': ...",5f5b4fdd400b9fbfbe0b8e9e,2020-11-24 08:58:47.545000+00:00,1,6.0,46,12,1
21,5fc9f936eb6dbced74b95061,"[{'_id': '5fc9f936eb6dbced74b95062', 'start': ...",5f5b4fdd400b9fbfbe0b8e9e,2020-12-04 08:54:14.475000+00:00,1,6.0,46,12,1
22,5fc9fdeeeb6dbced74b95089,"[{'_id': '5fc9fdeeeb6dbced74b9508a', 'start': ...",5f5b4fdd400b9fbfbe0b8e9e,2020-12-04 09:14:22.115000+00:00,1,6.0,46,12,1
23,5fcdefed8cf562071a9c1798,"[{'_id': '5fcdefed8cf562071a9c1799', 'start': ...",5f5b4fdd400b9fbfbe0b8e9e,2020-12-07 09:03:41.714000+00:00,1,6.0,46,12,1
24,5fd79883ff3b76b96dd791b5,"[{'_id': '5fd79883ff3b76b96dd791b6', 'start': ...",5f5b4fdd400b9fbfbe0b8e9e,2020-12-14 16:53:23.314000+00:00,1,6.0,46,12,1
25,5fd7d220ff3b76b96dd79224,"[{'_id': '5fd7d220ff3b76b96dd79225', 'start': ...",5f5b4fdd400b9fbfbe0b8e9e,2020-12-14 20:59:12.756000+00:00,1,6.0,46,12,1
26,5fabeb0364f3b8af345479e0,"[{'_id': '5fabeb0364f3b8af345479e1', 'start': ...",5f5b4fdd400b9fbfbe0b8f05,2020-11-11 13:45:39.787000+00:00,1,7.0,39,20,1
27,5facd88164f3b8af34547ad4,"[{'_id': '5facd88164f3b8af34547ad5', 'start': ...",5f5b4fdd400b9fbfbe0b8f05,2020-11-12 06:38:57.717000+00:00,1,7.0,39,20,1
28,5fad2f4264f3b8af34547c78,"[{'_id': '5fad2f4264f3b8af34547c79', 'start': ...",5f5b4fdd400b9fbfbe0b8f05,2020-11-12 12:49:06.102000+00:00,1,7.0,39,20,1
29,5fb4211c47f18b6282e26055,"[{'_id': '5fb4211c47f18b6282e26056', 'start': ...",5f5b4fdd400b9fbfbe0b8f05,2020-11-17 19:14:36.717000+00:00,1,7.0,39,20,1
30,5fb4fdf447f18b6282e262bd,"[{'_id': '5fb4fdf447f18b6282e262be', 'start': ...",5f5b4fdd400b9fbfbe0b8f05,2020-11-18 10:56:52.133000+00:00,1,7.0,39,20,1
31,5fbe57df9de5cadc7a7695ee,"[{'_id': '5fbe57df9de5cadc7a7695ef', 'start': ...",5f5b4fdd400b9fbfbe0b8f05,2020-11-25 13:10:55.244000+00:00,1,7.0,39,20,1
32,5fbe58ba9de5cadc7a769629,"[{'_id': '5fbe58ba9de5cadc7a76962a', 'start': ...",5f5b4fdd400b9fbfbe0b8f05,2020-11-25 13:14:34.244000+00:00,1,7.0,39,20,1
33,5fbcef239de5cadc7a769177,"[{'_id': '5fbcef239de5cadc7a769178', 'start': ...",5f5b4fdd400b9fbfbe0b8eee,2020-11-24 11:31:47.928000+00:00,2,10.0,58,31,4
34,5fc64f83f4d5216c0f6cf7cd,"[{'_id': '5fc64f83f4d5216c0f6cf7ce', 'start': ...",5f5b4fdd400b9fbfbe0b8efd,2020-12-01 14:13:23.390000+00:00,2,9.0,67,42,4
35,5fd0a1b68cf562071a9c1ab4,"[{'_id': '5fd0a1b68cf562071a9c1ab5', 'start': ...",5f5b4fdd400b9fbfbe0b8ef0,2020-12-09 10:06:46.329000+00:00,2,2.0,30,13,4

In [357]:
new_data

,_id_x,bookings,room,date_x,Sede,aulaId,aulaDes,capienza,poloDes
0,5fa8267c1bd2a03f4641a099,"[{'_id': '5fa8267c1bd2a03f4641a09a', 'start': ...",5f5bd5fafc7a3450ea06e81c,2020-11-08 17:10:20.328000+00:00,1,NaN,112,11,26
1,5fa8fb591bd2a03f4641a1e9,"[{'_id': '5fa8fb591bd2a03f4641a1ea', 'start': ...",5f5bd5fafc7a3450ea06e81c,2020-11-09 08:18:33.344000+00:00,1,NaN,112,11,26
2,5face82164f3b8af34547b0e,"[{'_id': '5face82164f3b8af34547b0f', 'start': ...",5f5bd5fafc7a3450ea06e81c,2020-11-12 07:45:37.079000+00:00,1,NaN,112,11,26
3,5facf99f64f3b8af34547b99,"[{'_id': '5facf99f64f3b8af34547b9a', 'start': ...",5f5bd5fafc7a3450ea06e81c,2020-11-12 09:00:15.960000+00:00,1,NaN,112,11,26
4,5fae3bdc64f3b8af34547df6,"[{'_id': '5fae3bdc64f3b8af34547df7', 'start': ...",5f5bd5fafc7a3450ea06e81c,2020-11-13 07:55:08.231000+00:00,1,NaN,112,11,26
...,...,...,...,...,...,...,...,...,...
189,5fdc77b1ff3b76b96dd79d6b,"[{'_id': '5fdc77b1ff3b76b96dd79d6c', 'start': ...",5f5cc686fc7a3450ea06e837,2020-12-18 09:34:41.628000+00:00,4,NaN,114,4,9
190,5fbcef239de5cadc7a769177,"[{'_id': '5fbcef239de5cadc7a769178', 'start': ...",5f5b4fdd400b9fbfbe0b8eee,2020-11-24 11:31:47.928000+00:00,2,10.0,58,31,4
191,5fbfe5119de5cadc7a7699ec,"[{'_id': '5fbfe5119de5cadc7a7699ed', 'start': ...",5f5cc627fc7a3450ea06e836,2020-11-26 17:25:37.632000+00:00,2,NaN,114,3,20
192,5fc64f83f4d5216c0f6cf7cd,"[{'_id': '5fc64f83f4d5216c0f6cf7ce', 'start': ...",5f5b4fdd400b9fbfbe0b8efd,2020-12-01 14:13:23.390000+00:00,2,9.0,67,42,4
193,5fd0a1b68cf562071a9c1ab4,"[{'_id': '5fd0a1b68cf562071a9c1ab5', 'start': ...",5f5b4fdd400b9fbfbe0b8ef0,2020-12-09 10:06:46.329000+00:00,2,2.0,30,13,4

In [403]:
new_data['date_x']=new_data['date_x'].astype(str)
new_data.to_excel("finaloutput.xlsx")

In [404]:
lsb=new_data.bookings.tolist()

In [405]:
for i in np.arange(0,len(lsb)):
    df_bookings=pd.concat([dfa,pd.DataFrame(lsb[i])])

In [406]:
sum(df_bookings['persons'])

6537

In [407]:
ds=pd.read_excel()

TypeError: read_excel() missing 1 required positional argument: 'io'

In [383]:
rooms

,_id,Sede,aulaId,aulaDes,capienza,poloDes,date,scheduleType,schedules
0,5f5b4fdd400b9fbfbe0b8e94,1,1.0,69,10,15,2020-10-02 19:17:16.414000+00:00,[],[]
1,5f5b4fdd400b9fbfbe0b8e95,1,2.0,25,24,15,2020-12-15 15:38:27.918000+00:00,[],[]
2,5f5b4fdd400b9fbfbe0b8e96,1,3.0,12,12,2,2020-10-29 10:10:23.875000+00:00,[],[]
3,5f5b4fdd400b9fbfbe0b8e97,1,4.0,16,10,2,2020-12-15 10:17:12.238000+00:00,[],[]
4,5f5b4fdd400b9fbfbe0b8e98,1,7.0,35,76,18,2020-12-16 10:04:16.903000+00:00,[],[]
...,...,...,...,...,...,...,...,...,...
143,5f9ade072358534e7e6d469c,3,NaN,123,50,29,2020-10-29 15:21:43.206000+00:00,[],[]
144,5fa05a957916daa867a158ae,1,NaN,31,14,1,2020-12-16 08:04:17.292000+00:00,[],[]
145,5fa05aa77916daa867a158af,1,NaN,36,9,1,2020-12-16 09:46:29.789000+00:00,[],[]
146,5fc95263eb6dbced74b94f68,2,NaN,124,6,4,2020-12-03 21:02:27.777000+00:00,[],[]
147,5fca3ca8eb6dbced74b951b7,2,NaN,125,13,14,2020-12-04 13:42:00.827000+00:00,[],[]

In [381]:
rooms.dropna()

,_id,Sede,aulaId,aulaDes,capienza,poloDes,date,scheduleType,schedules
0,5f5b4fdd400b9fbfbe0b8e94,1,1.0,69,10,15,2020-10-02 19:17:16.414000+00:00,[],[]
1,5f5b4fdd400b9fbfbe0b8e95,1,2.0,25,24,15,2020-12-15 15:38:27.918000+00:00,[],[]
2,5f5b4fdd400b9fbfbe0b8e96,1,3.0,12,12,2,2020-10-29 10:10:23.875000+00:00,[],[]
3,5f5b4fdd400b9fbfbe0b8e97,1,4.0,16,10,2,2020-12-15 10:17:12.238000+00:00,[],[]
4,5f5b4fdd400b9fbfbe0b8e98,1,7.0,35,76,18,2020-12-16 10:04:16.903000+00:00,[],[]
...,...,...,...,...,...,...,...,...,...
114,5f5b4fdd400b9fbfbe0b8f07,1,5.0,106,12,12,2020-11-03 12:02:58.400000+00:00,[],[]
115,5f5b4fdd400b9fbfbe0b8f08,1,1.0,107,53,25,2020-10-22 10:58:19.138000+00:00,[],[]
116,5f5b4fdd400b9fbfbe0b8f09,3,8.0,108,10,22,2020-09-12 16:12:17.829000+00:00,[],[]
117,5f5b4fdd400b9fbfbe0b8f0a,3,2.0,109,8,23,2020-09-12 16:12:17.829000+00:00,[],[]
118,5f5b4fdd400b9fbfbe0b8f0b,3,8.0,110,12,23,2020-09-28 11:23:38.368000+00:00,[],[]