In [172]:
#@title
from pyspark.sql import SparkSession
import pyspark.sql.functions as F

spark = SparkSession \
    .builder \
    .appName("test") \
    .config("spark.some.config.option", "setting") \
    .getOrCreate()

In [173]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns 
import numpy as np

In [174]:
df = spark.read.csv('data_csv/presences.csv', header=True, inferSchema=True)
# create a spark dataframe

In [175]:
pdf=pd.read_csv('presence_ds.csv')
# create a pandas dataframe

In [176]:
pdf=pdf.dropna()
# drop null values from the dataframe

In [177]:
len(pdf.aula.unique())
#69 different classrooms

69

In [178]:
len(pdf.polo.unique())
#22 different departmentss

22

In [179]:
len(pdf.username.unique())
# 882 unique users

882

In [180]:
pdf

,_id,id,username,aula,sede,polo,inDate,date,posto,outDate
0,5fa8ef7d1bd2a03f4641a15e,81929,1,1,1,1,11/9/2020 8:27,11/9/2020 8:27,1,11/9/2020 13:05
1,5fa8efa51bd2a03f4641a15f,81098,2,1,1,1,11/9/2020 8:28,11/9/2020 8:28,2,11/9/2020 13:05
2,5fa8f0751bd2a03f4641a160,81009,3,1,1,1,11/9/2020 8:32,11/9/2020 8:32,3,11/9/2020 13:05
3,5fa8f0811bd2a03f4641a161,80492,4,1,1,1,11/9/2020 8:32,11/9/2020 8:32,4,11/9/2020 8:32
4,5fa8f0891bd2a03f4641a162,80492,4,1,1,1,11/9/2020 8:32,11/9/2020 8:32,5,11/9/2020 8:32
...,...,...,...,...,...,...,...,...,...,...
10644,5fe30a4a1c7ca18763114dbc,82289,591,24,2,14,12/23/2020 10:13,12/23/2020 10:13,7,12/23/2020 13:05
10645,5fe313f51c7ca18763114dca,81216,47,3,1,3,12/23/2020 10:55,12/23/2020 10:55,1,12/23/2020 13:05
10646,5fe314031c7ca18763114dcb,81490,49,3,1,3,12/23/2020 10:55,12/23/2020 10:55,2,12/23/2020 12:56
10647,5fe316041c7ca18763114dcc,81241,25,9,2,4,12/23/2020 11:03,12/23/2020 11:03,4,12/23/2020 13:05
10648,5fe319fe1c7ca18763114dcd,69271,821,48,1,12,12/23/2020 11:20,12/23/2020 11:20,14,12/23/2020 13:05

In [181]:
pdf.date=pd.to_datetime(pdf.date)
pdf.date=pdf.date.dt.date

In [182]:
new_df=pdf.groupby(['aula','sede','polo','date'])['posto'].agg('max').reset_index()
# aggregate the number of user entries on a given day. 
#since posto is assigned in sequential or order, the highest posto represnts the last person to book. and also the toal number for that day

In [183]:
new_df

     aula  sede  polo        date  posto
0       1     1     1  2020-11-09     33
1       1     1     1  2020-11-10     48
2       1     1     1  2020-11-11     45
3       1     1     1  2020-11-12     45
4       1     1     1  2020-11-13     38
..    ...   ...   ...         ...    ...
812    67     2     4  2020-12-01      1
813    68     2     4  2020-12-11     16
814    68     2     4  2020-12-15     13
815    68     2     4  2020-12-18     17
816    84     3    22  2020-12-22      1

[817 rows x 5 columns]

In [184]:
pdf.date

0        2020-11-09
1        2020-11-09
2        2020-11-09
3        2020-11-09
4        2020-11-09
            ...
10644    2020-12-23
10645    2020-12-23
10646    2020-12-23
10647    2020-12-23
10648    2020-12-23
Name: date, Length: 10649, dtype: object

In [185]:
pdf

,_id,id,username,aula,sede,polo,inDate,date,posto,outDate
0,5fa8ef7d1bd2a03f4641a15e,81929,1,1,1,1,11/9/2020 8:27,2020-11-09,1,11/9/2020 13:05
1,5fa8efa51bd2a03f4641a15f,81098,2,1,1,1,11/9/2020 8:28,2020-11-09,2,11/9/2020 13:05
2,5fa8f0751bd2a03f4641a160,81009,3,1,1,1,11/9/2020 8:32,2020-11-09,3,11/9/2020 13:05
3,5fa8f0811bd2a03f4641a161,80492,4,1,1,1,11/9/2020 8:32,2020-11-09,4,11/9/2020 8:32
4,5fa8f0891bd2a03f4641a162,80492,4,1,1,1,11/9/2020 8:32,2020-11-09,5,11/9/2020 8:32
...,...,...,...,...,...,...,...,...,...,...
10644,5fe30a4a1c7ca18763114dbc,82289,591,24,2,14,12/23/2020 10:13,2020-12-23,7,12/23/2020 13:05
10645,5fe313f51c7ca18763114dca,81216,47,3,1,3,12/23/2020 10:55,2020-12-23,1,12/23/2020 13:05
10646,5fe314031c7ca18763114dcb,81490,49,3,1,3,12/23/2020 10:55,2020-12-23,2,12/23/2020 12:56
10647,5fe316041c7ca18763114dcc,81241,25,9,2,4,12/23/2020 11:03,2020-12-23,4,12/23/2020 13:05
10648,5fe319fe1c7ca18763114dcd,69271,821,48,1,12,12/23/2020 11:20,2020-12-23,14,12/23/2020 13:05

In [186]:
booking=pd.read_json('data/roomBookings.json')
presence=pd.read_json('data/presences.json')
rooms=pd.read_json('data/rooms.json')
rs=pd.read_json('data/roomSchedule.json')

In [188]:
rooms

,_id,Sede,aulaId,aulaDes,capienza,poloDes,date,scheduleType,schedules
0,5f5b4fdd400b9fbfbe0b8e94,1,1.0,69,10,15,2020-10-02 19:17:16.414000+00:00,[],[]
1,5f5b4fdd400b9fbfbe0b8e95,1,2.0,25,24,15,2020-12-15 15:38:27.918000+00:00,[],[]
2,5f5b4fdd400b9fbfbe0b8e96,1,3.0,12,12,2,2020-10-29 10:10:23.875000+00:00,[],[]
3,5f5b4fdd400b9fbfbe0b8e97,1,4.0,16,10,2,2020-12-15 10:17:12.238000+00:00,[],[]
4,5f5b4fdd400b9fbfbe0b8e98,1,7.0,35,76,18,2020-12-16 10:04:16.903000+00:00,[],[]
...,...,...,...,...,...,...,...,...,...
143,5f9ade072358534e7e6d469c,3,NaN,123,50,29,2020-10-29 15:21:43.206000+00:00,[],[]
144,5fa05a957916daa867a158ae,1,NaN,31,14,1,2020-12-16 08:04:17.292000+00:00,[],[]
145,5fa05aa77916daa867a158af,1,NaN,36,9,1,2020-12-16 09:46:29.789000+00:00,[],[]
146,5fc95263eb6dbced74b94f68,2,NaN,124,6,4,2020-12-03 21:02:27.777000+00:00,[],[]
147,5fca3ca8eb6dbced74b951b7,2,NaN,125,13,14,2020-12-04 13:42:00.827000+00:00,[],[]

In [155]:
rs.head(50)
#roomSchedules dataset

,_id,bookings,room,date
0,5fa8267c1bd2a03f4641a099,"[{'_id': '5fa8267c1bd2a03f4641a09a', 'start': ...",5f5bd5fafc7a3450ea06e81c,2020-11-08 17:10:20.328000+00:00
1,5fa859611bd2a03f4641a0e0,"[{'_id': '5fa859611bd2a03f4641a0e1', 'start': ...",5f5cc739fc7a3450ea06e838,2020-11-08 20:47:29.186000+00:00
2,5fa87aad1bd2a03f4641a130,"[{'_id': '5fa87aad1bd2a03f4641a131', 'start': ...",5f5b4fdd400b9fbfbe0b8ec3,2020-11-08 23:09:33.878000+00:00
3,5fa8fb591bd2a03f4641a1e9,"[{'_id': '5fa8fb591bd2a03f4641a1ea', 'start': ...",5f5bd5fafc7a3450ea06e81c,2020-11-09 08:18:33.344000+00:00
4,5fa8fc3d1bd2a03f4641a1f7,"[{'_id': '5fa8fc3d1bd2a03f4641a1f8', 'start': ...",5f5cc50bfc7a3450ea06e834,2020-11-09 08:22:21.433000+00:00
5,5fa8fc9b1bd2a03f4641a203,"[{'_id': '5fa8fc9b1bd2a03f4641a204', 'start': ...",5f5cc50bfc7a3450ea06e834,2020-11-09 08:23:55.389000+00:00
6,5fa8fcf21bd2a03f4641a20d,"[{'_id': '5fa8fcf21bd2a03f4641a20e', 'start': ...",5f5cc50bfc7a3450ea06e834,2020-11-09 08:25:22.411000+00:00
7,5fa92a841bd2a03f4641a319,"[{'_id': '5fa92a841bd2a03f4641a31a', 'start': ...",5f5cc781fc7a3450ea06e839,2020-11-09 11:39:48.395000+00:00
8,5fa933751bd2a03f4641a32e,"[{'_id': '5fa933751bd2a03f4641a32f', 'start': ...",5f5bd4928db89350a13a80d8,2020-11-09 12:17:57.249000+00:00
9,5fa968cf1bd2a03f4641a438,"[{'_id': '5fa968cf1bd2a03f4641a439', 'start': ...",5f5cc55bfc7a3450ea06e835,2020-11-09 16:05:35.221000+00:00
10,5fa971f71bd2a03f4641a443,"[{'_id': '5fa971f71bd2a03f4641a444', 'start': ...",5f5cc739fc7a3450ea06e838,2020-11-09 16:44:39.238000+00:00
11,5fa9af961bd2a03f4641a48a,"[{'_id': '5fa9af961bd2a03f4641a48b', 'start': ...",5f5b4fdd400b9fbfbe0b8ebd,2020-11-09 21:07:34.847000+00:00
12,5fa9bb261bd2a03f4641a4c0,"[{'_id': '5fa9bb261bd2a03f4641a4c1', 'start': ...",5f5b4fdd400b9fbfbe0b8ee7,2020-11-09 21:56:54.603000+00:00
13,5faa478b1bd2a03f4641a527,"[{'_id': '5faa478b1bd2a03f4641a528', 'start': ...",5f5cc781fc7a3450ea06e839,2020-11-10 07:55:55.149000+00:00
14,5faa8adf1bd2a03f4641a6a4,"[{'_id': '5faa8adf1bd2a03f4641a6a5', 'start': ...",5f5bd4928db89350a13a80d8,2020-11-10 12:43:11.169000+00:00
15,5faa91731bd2a03f4641a71a,"[{'_id': '5faa91731bd2a03f4641a71b', 'start': ...",5f5b4fdd400b9fbfbe0b8e9e,2020-11-10 13:11:15.957000+00:00
16,5faabab41bd2a03f4641a809,"[{'_id': '5faabab41bd2a03f4641a80a', 'start': ...",5f5cc55bfc7a3450ea06e835,2020-11-10 16:07:16.237000+00:00
17,5fab1be31bd2a03f4641a8a1,"[{'_id': '5fab1be31bd2a03f4641a8a2', 'start': ...",5f5b4fdd400b9fbfbe0b8ee7,2020-11-10 23:01:55.486000+00:00
18,5fab20a71bd2a03f4641a8b6,"[{'_id': '5fab20a71bd2a03f4641a8b7', 'start': ...",5f5b4fdd400b9fbfbe0b8e9e,2020-11-10 23:22:15.541000+00:00
19,5fab992a1bd2a03f4641a904,"[{'_id': '5fab992a1bd2a03f4641a905', 'start': ...",5f5cc55bfc7a3450ea06e835,2020-11-11 07:56:26.447000+00:00
20,5fabbd0a1bd2a03f4641aa87,"[{'_id': '5fabbd0a1bd2a03f4641aa88', 'start': ...",5f5bd4928db89350a13a80d8,2020-11-11 10:29:30.440000+00:00
21,5fabbe931bd2a03f4641aa97,"[{'_id': '5fabbe931bd2a03f4641aa98', 'start': ...",5f5cc781fc7a3450ea06e839,2020-11-11 10:36:03.840000+00:00
22,5fabeb0364f3b8af345479e0,"[{'_id': '5fabeb0364f3b8af345479e1', 'start': ...",5f5b4fdd400b9fbfbe0b8f05,2020-11-11 13:45:39.787000+00:00
23,5fac453564f3b8af34547a82,"[{'_id': '5fac453564f3b8af34547a83', 'start': ...",5f5cc7f1fc7a3450ea06e83a,2020-11-11 20:10:29.205000+00:00
24,5facd88164f3b8af34547ad4,"[{'_id': '5facd88164f3b8af34547ad5', 'start': ...",5f5b4fdd400b9fbfbe0b8f05,2020-11-12 06:38:57.717000+00:00
25,5face7aa64f3b8af34547b01,"[{'_id': '5face7aa64f3b8af34547b02', 'start': ...",5f5cc50bfc7a3450ea06e834,2020-11-12 07:43:38.788000+00:00
26,5face82164f3b8af34547b0e,"[{'_id': '5face82164f3b8af34547b0f', 'start': ...",5f5bd5fafc7a3450ea06e81c,2020-11-12 07:45:37.079000+00:00
27,5facef9c64f3b8af34547b73,"[{'_id': '5facef9c64f3b8af34547b74', 'start': ...",5f5b4fdd400b9fbfbe0b8ee7,2020-11-12 08:17:32.354000+00:00
28,5facf99f64f3b8af34547b99,"[{'_id': '5facf99f64f3b8af34547b9a', 'start': ...",5f5bd5fafc7a3450ea06e81c,2020-11-12 09:00:15.960000+00:00
29,5fad2f4264f3b8af34547c78,"[{'_id': '5fad2f4264f3b8af34547c79', 'start': ...",5f5b4fdd400b9fbfbe0b8f05,2020-11-12 12:49:06.102000+00:00
30,5fad311964f3b8af34547c91,"[{'_id': '5fad311964f3b8af34547c92', 'start': ...",5f5b4fdd400b9fbfbe0b8ee7,2020-11-12 12:56:57.996000+00:00
31,5fae3bdc64f3b8af34547df6,"[{'_id': '5fae3bdc64f3b8af34547df7', 'start': ...",5f5bd5fafc7a3450ea06e81c,2020-11-13 07:55:08.231000+00:00
32,5fae5a5733a4610e65769cfe,"[{'_id': '5fae5a5733a4610e65769cff', 'start': ...",5f5cc55bfc7a3450ea06e835,2020-11-13 10:05:11.737000+00:00
33,5fae6e9833a4610e65769d24,"[{'_id': '5fae6e9833a4610e65769d25', 'start': ...",5f5bd4928db89350a13a80d8,2020-11-13 11:31:36.976000+00:00
34,5fafdcce33a4610e65769e49,"[{'_id': '5fafdcce33a4610e65769e4a', 'start': ...",5f5cc686fc7a3450ea06e837,2020-11-14 13:34:06.102000+00:00
35,5fb105cc33a4610e65769e64,"[{'_id': '5fb105cc33a4610e65769e65', 'start': ...",5f5cc739fc7a3450ea06e838,2020-11-15 10:41:16.618000+00:00
36,5fb12ebe33a4610e65769e76,"[{'_id': '5fb12ebe33a4610e65769e77', 'start': ...",5f5cc50bfc7a3450ea06e834,2020-11-15 13:35:58.935000+00:00
37,5fb17c9233a4610e65769ed0,"[{'_id': '5fb17c9233a4610e65769ed1', 'start': ...",5f5cc7f1fc7a3450ea06e83a,2020-11-15 19:08:02.136000+00:00
38,5fb1b01233a4610e65769f24,"[{'_id': '5fb1b01233a4610e65769f25', 'start': ...",5f5cc55bfc7a3450ea06e835,2020-11-15 22:47:46.076000+00:00
39,5fb25d6433a4610e6576a0a0,"[{'_id': '5fb25d6433a4610e6576a0a1', 'start': ...",5f5b4fdd400b9fbfbe0b8e9e,2020-11-16 11:07:16.376000+00:00
40,5fb26a4633a4610e6576a0c3,"[{'_id': '5fb26a4633a4610e6576a0c4', 'start': ...",5f5cc686fc7a3450ea06e837,2020-11-16 12:02:14.400000+00:00
41,5fb26b0933a4610e6576a0ce,"[{'_id': '5fb26b0933a4610e6576a0cf', 'start': ...",5f5cc781fc7a3450ea06e839,2020-11-16 12:05:29.451000+00:00
42,5fb2785433a4610e6576a0f8,"[{'_id': '5fb2785433a4610e6576a0f9', 'start': ...",5f5cc781fc7a3450ea06e839,2020-11-16 13:02:12.780000+00:00
43,5fb27dfc33a4610e6576a159,"[{'_id': '5fb27dfc33a4610e6576a15a', 'start': ...",5f5cc55bfc7a3450ea06e835,2020-11-16 13:26:20.532000+00:00
44,5fb28c1933a4610e6576a18d,"[{'_id': '5fb28c1933a4610e6576a18e', 'start': ...",5f5bd4928db89350a13a80d8,2020-11-16 14:26:33.360000+00:00
45,5fb2b36633a4610e6576a1c0,"[{'_id': '5fb2b36633a4610e6576a1c1', 'start': ...",5f5bd5fafc7a3450ea06e81c,2020-11-16 17:14:14.412000+00:00
46,5fb2cd4633a4610e6576a1e4,"[{'_id': '5fb2cd4633a4610e6576a1e5', 'start': ...",5f5cc50bfc7a3450ea06e834,2020-11-16 19:04:38.583000+00:00
47,5fb2f3b633a4610e6576a221,"[{'_id': '5fb2f3b633a4610e6576a222', 'start': ...",5f5b4fdd400b9fbfbe0b8e9e,2020-11-16 21:48:38.066000+00:00
48,5fb2fc1033a4610e6576a24e,"[{'_id': '5fb2fc1033a4610e6576a24f', 'start': ...",5f5bd5fafc7a3450ea06e81c,2020-11-16 22:24:16.572000+00:00
49,5fb2fcef33a4610e6576a262,"[{'_id': '5fb2fcef33a4610e6576a263', 'start': ...",5f5cc739fc7a3450ea06e838,2020-11-16 22:27:59.525000+00:00

In [156]:
rooms.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148 entries, 0 to 147
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   _id           148 non-null    object
 1   Sede          148 non-null    int64
 2   aulaId        119 non-null    float64
 3   aulaDes       148 non-null    int64
 4   capienza      148 non-null    int64
 5   poloDes       148 non-null    int64
 6   date          148 non-null    datetime64[ns, UTC]
 7   scheduleType  148 non-null    object
 8   schedules     148 non-null    object
dtypes: datetime64[ns, UTC](1), float64(1), int64(4), object(3)
memory usage: 10.5+ KB

In [157]:
rooms.describe()

             Sede      aulaId     aulaDes    capienza     poloDes
count  148.000000  119.000000  148.000000  148.000000  148.000000
mean     1.783784    4.092437   56.405405   29.108108   11.662162
std      0.965673    2.674397   37.848757   27.766797    7.537258
min      1.000000    1.000000    1.000000    0.000000    1.000000
25%      1.000000    2.000000   20.750000   12.000000    5.000000
50%      1.000000    4.000000   53.500000   22.500000   11.000000
75%      3.000000    6.000000   89.250000   40.000000   17.000000
max      4.000000   12.000000  125.000000  247.000000   29.000000

In [158]:
 np.where(pd.isnull(rooms))
#this gives the index of all rows with null values

(array([119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131,
        132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144,
        145, 146, 147], dtype=int64),
 array([2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2], dtype=int64))

In [159]:
rooms[rooms.aulaId.isnull()]
# list of all NaN rows

,_id,Sede,aulaId,aulaDes,capienza,poloDes,date,scheduleType,schedules
119,5f5bd4928db89350a13a80d8,2,NaN,111,12,17,2020-09-11 19:48:34.478000+00:00,"[{'start': '08.30', 'end': '10.30', 'persons':...","[{'_id': '5fc55f07f4d5216c0f6cf462', 'day': '1..."
120,5f5bd5fafc7a3450ea06e81c,1,NaN,112,11,26,2020-09-11 19:54:34.454000+00:00,"[{'start': '08.30', 'end': '10.30', 'persons':...","[{'_id': '5fd9dd43ff3b76b96dd79886', 'day': '1..."
121,5f5cc50bfc7a3450ea06e834,1,NaN,113,35,27,2020-09-23 14:50:46.622000+00:00,"[{'start': '08.30', 'end': '10.30', 'persons':...","[{'_id': '5fd64a4aff3b76b96dd78d0b', 'day': '1..."
122,5f5cc55bfc7a3450ea06e835,1,NaN,114,10,11,2020-09-12 12:55:55.346000+00:00,"[{'start': '08.30', 'end': '10.30', 'persons':...","[{'_id': '5fd9bec4ff3b76b96dd7975f', 'day': '1..."
123,5f5cc627fc7a3450ea06e836,2,NaN,114,3,20,2020-09-12 12:59:19.689000+00:00,"[{'start': '08.30', 'end': '10.30', 'persons':...","[{'_id': '5fbfe5119de5cadc7a7699f1', 'day': '2..."
124,5f5cc686fc7a3450ea06e837,4,NaN,114,4,9,2020-09-12 13:00:54.985000+00:00,"[{'start': '08.30', 'end': '10.30', 'persons':...","[{'_id': '5fd7d90bff3b76b96dd7925a', 'day': '1..."
125,5f5cc739fc7a3450ea06e838,1,NaN,115,10,10,2020-09-12 13:03:53.440000+00:00,"[{'start': '08.30', 'end': '10.30', 'persons':...","[{'_id': '5fd8ad27ff3b76b96dd79488', 'day': '1..."
126,5f5cc781fc7a3450ea06e839,1,NaN,116,10,12,2020-09-12 13:05:05.383000+00:00,"[{'start': '08.30', 'end': '10.30', 'persons':...","[{'_id': '5fd93c79ff3b76b96dd796d8', 'day': '1..."
127,5f5cc7f1fc7a3450ea06e83a,3,NaN,117,9,16,2020-09-12 13:06:57.688000+00:00,"[{'start': '08.30', 'end': '10.30', 'persons':...","[{'_id': '5fd07dd38cf562071a9c197a', 'day': '1..."
128,5f6decdd1f06210ab6a7dc64,1,NaN,65,12,2,2020-12-14 15:16:42.286000+00:00,[],[]
129,5f6decf21f06210ab6a7dc65,1,NaN,119,12,2,2020-09-25 13:13:22.406000+00:00,[],[]
130,5f6ded551f06210ab6a7dc66,3,NaN,59,11,28,2020-10-28 11:30:24.527000+00:00,[],[]
131,5f737e04ec1d278a16eca138,2,NaN,120,40,4,2020-10-02 08:20:17.246000+00:00,[],[]
132,5f737e3dec1d278a16eca139,2,NaN,121,40,17,2020-10-29 11:58:46.028000+00:00,[],[]
133,5f737e74ec1d278a16eca13a,2,NaN,62,40,14,2020-11-27 07:44:46.949000+00:00,[],[]
134,5f737f06ec1d278a16eca13c,2,NaN,63,40,20,2020-12-11 16:24:27.250000+00:00,[],[]
135,5f89c86991058191e876b74b,2,NaN,122,9,20,2020-10-20 13:19:43.648000+00:00,[],[]
136,5f9aa4e32358534e7e6d4406,1,NaN,64,63,12,2020-12-02 16:57:37.146000+00:00,[],[]
137,5f9aa5092358534e7e6d4407,1,NaN,48,39,12,2020-12-16 08:27:10.192000+00:00,[],[]
138,5f9aa50f2358534e7e6d440a,1,NaN,49,39,12,2020-12-15 08:12:27.637000+00:00,[],[]
139,5f9aa5222358534e7e6d440b,1,NaN,54,2,12,2020-12-15 16:56:55.119000+00:00,[],[]
140,5f9aa52e2358534e7e6d440c,1,NaN,57,5,12,2020-12-03 11:19:28.027000+00:00,[],[]
141,5f9aa5652358534e7e6d440d,1,NaN,56,2,12,2020-12-11 08:07:00.857000+00:00,[],[]
142,5f9aa5722358534e7e6d440e,1,NaN,55,6,12,2020-12-16 10:04:01.525000+00:00,[],[]
143,5f9ade072358534e7e6d469c,3,NaN,123,50,29,2020-10-29 15:21:43.206000+00:00,[],[]
144,5fa05a957916daa867a158ae,1,NaN,31,14,1,2020-12-16 08:04:17.292000+00:00,[],[]
145,5fa05aa77916daa867a158af,1,NaN,36,9,1,2020-12-16 09:46:29.789000+00:00,[],[]
146,5fc95263eb6dbced74b94f68,2,NaN,124,6,4,2020-12-03 21:02:27.777000+00:00,[],[]
147,5fca3ca8eb6dbced74b951b7,2,NaN,125,13,14,2020-12-04 13:42:00.827000+00:00,[],[]

* the empty rows make up a significan amount of the data, dropping the NaN rows would have too much of an effect on the data
* We can opt to replace them by the checking the corresponding aula id for each aula des , or remove the column entirely. FOr what we want to achieve, we just need a numerical place holder for the rooms(aula) and aulaDes serves that same purpose

In [160]:
len(rooms[rooms.aulaId.isnull()])

29

In [161]:
rooms.columns

Index(['_id', 'Sede', 'aulaId', 'aulaDes', 'capienza', 'poloDes', 'date',
       'scheduleType', 'schedules'],
      dtype='object')

In [163]:
rooms=rooms.drop(['aulaId', 'scheduleType', 'schedules'], axis=1)

* we dropped the aulaId , schedules , and scheduleType from the dataframe. the rows in these columns can be generated by performing a concat with the roomSchedules Dataframe.
* this will help eliminate repitition and redundancy

In [164]:
result=pd.concat([rs,rooms],axis=1).reindex(rs.index)
# concatinate roomschedule and rooms , based on the specified axis

In [165]:
result
#the result is dataframe fro the roomschedule dataframe which has extra columns extracted from the corresponding rooms columns 
# the we get information such capienza from the rooms dataframe in order to gain more deatures during the feature selection stage

,_id,bookings,room,date,_id,Sede,aulaDes,capienza,poloDes,date
0,5fa8267c1bd2a03f4641a099,"[{'_id': '5fa8267c1bd2a03f4641a09a', 'start': ...",5f5bd5fafc7a3450ea06e81c,2020-11-08 17:10:20.328000+00:00,5f5b4fdd400b9fbfbe0b8e94,1.0,69.0,10.0,15.0,2020-10-02 19:17:16.414000+00:00
1,5fa859611bd2a03f4641a0e0,"[{'_id': '5fa859611bd2a03f4641a0e1', 'start': ...",5f5cc739fc7a3450ea06e838,2020-11-08 20:47:29.186000+00:00,5f5b4fdd400b9fbfbe0b8e95,1.0,25.0,24.0,15.0,2020-12-15 15:38:27.918000+00:00
2,5fa87aad1bd2a03f4641a130,"[{'_id': '5fa87aad1bd2a03f4641a131', 'start': ...",5f5b4fdd400b9fbfbe0b8ec3,2020-11-08 23:09:33.878000+00:00,5f5b4fdd400b9fbfbe0b8e96,1.0,12.0,12.0,2.0,2020-10-29 10:10:23.875000+00:00
3,5fa8fb591bd2a03f4641a1e9,"[{'_id': '5fa8fb591bd2a03f4641a1ea', 'start': ...",5f5bd5fafc7a3450ea06e81c,2020-11-09 08:18:33.344000+00:00,5f5b4fdd400b9fbfbe0b8e97,1.0,16.0,10.0,2.0,2020-12-15 10:17:12.238000+00:00
4,5fa8fc3d1bd2a03f4641a1f7,"[{'_id': '5fa8fc3d1bd2a03f4641a1f8', 'start': ...",5f5cc50bfc7a3450ea06e834,2020-11-09 08:22:21.433000+00:00,5f5b4fdd400b9fbfbe0b8e98,1.0,35.0,76.0,18.0,2020-12-16 10:04:16.903000+00:00
...,...,...,...,...,...,...,...,...,...,...
189,5fdc8542ff3b76b96dd79dab,"[{'_id': '5fdc8542ff3b76b96dd79dac', 'start': ...",5f5cc781fc7a3450ea06e839,2020-12-18 10:32:34.679000+00:00,NaN,NaN,NaN,NaN,NaN,NaT
190,5fde2cd81c7ca18763114afb,"[{'_id': '5fde2cd81c7ca18763114afc', 'start': ...",5f5cc50bfc7a3450ea06e834,2020-12-19 16:39:52.105000+00:00,NaN,NaN,NaN,NaN,NaN,NaT
191,5fdf86151c7ca18763114b2a,"[{'_id': '5fdf86151c7ca18763114b2b', 'start': ...",5f5cc50bfc7a3450ea06e834,2020-12-20 17:12:53.116000+00:00,NaN,NaN,NaN,NaN,NaN,NaT
192,5fdfabe51c7ca18763114b5e,"[{'_id': '5fdfabe51c7ca18763114b5f', 'start': ...",5f5cc50bfc7a3450ea06e834,2020-12-20 19:54:13.157000+00:00,NaN,NaN,NaN,NaN,NaN,NaT
193,5fdfea6b1c7ca18763114b9f,"[{'_id': '5fdfea6b1c7ca18763114ba0', 'start': ...",5f5bd5fafc7a3450ea06e81c,2020-12-21 00:20:59.897000+00:00,NaN,NaN,NaN,NaN,NaN,NaT

In [167]:

res = rs.merge(rooms, how='inner', left_on=['room'], right_on=['_id'])
# this creates an inner join similar to that of SQL, we get data from 2 tables based on a given common column(foreign key)

In [169]:
res.to_csv('room_booking.csv')
#export file to csv format