In [3]:
import pandas as pd
import numpy as np

In [14]:
# presence=pd.read_excel('presence.csv')
booking=pd.read_json('data/roomBookings.json')
presence=pd.read_json('data/presences.json')
rooms=pd.read_json('data/rooms.json')

In [11]:
presence

,_id,aula,sede,polo,inDate,date,posto,outDate
0,5fa8ef7d1bd2a03f4641a15e,1,1,1,2020-11-09T07:27:57.078Z,2020-11-09 07:27:57.078000+00:00,1,2020-11-09T12:05:00.362Z
1,5fa8efa51bd2a03f4641a15f,1,1,1,2020-11-09T07:28:37.074Z,2020-11-09 07:28:37.074000+00:00,2,2020-11-09T12:05:00.363Z
2,5fa8f0751bd2a03f4641a160,1,1,1,2020-11-09T07:32:05.878Z,2020-11-09 07:32:05.879000+00:00,3,2020-11-09T12:05:00.364Z
3,5fa8f0811bd2a03f4641a161,1,1,1,2020-11-09T07:32:17.390Z,2020-11-09 07:32:17.390000+00:00,4,2020-11-09T07:32:20.897Z
4,5fa8f0891bd2a03f4641a162,1,1,1,2020-11-09T07:32:25.980Z,2020-11-09 07:32:25.980000+00:00,5,2020-11-09T07:32:36.245Z
...,...,...,...,...,...,...,...,...
9836,5fd9dcb7ff3b76b96dd7987b,17,1,11,2020-12-16T10:08:55.168Z,2020-12-16 10:08:55.168000+00:00,13,NaN
9837,5fd9ddcfff3b76b96dd7988b,19,1,5,2020-12-16T10:13:35.299Z,2020-12-16 10:13:35.299000+00:00,12,NaN
9838,5fd9ddf1ff3b76b96dd7988e,1,1,1,2020-12-16T10:14:09.471Z,2020-12-16 10:14:09.471000+00:00,46,NaN
9839,5fd9de6cff3b76b96dd79891,13,4,9,2020-12-16T10:16:12.267Z,2020-12-16 10:16:12.267000+00:00,15,NaN
9840,5fd9df86ff3b76b96dd79898,19,1,5,2020-12-16T10:20:54.612Z,2020-12-16 10:20:54.612000+00:00,13,NaN

In [12]:
presence.corr()

           aula      sede      polo     posto
aula   1.000000  0.086330  0.549477 -0.271784
sede   0.086330  1.000000  0.266890 -0.149027
polo   0.549477  0.266890  1.000000 -0.249577
posto -0.271784 -0.149027 -0.249577  1.000000

In [8]:
booking

,_id,id,aula,polo,sede,day,month,year,time.start,time.end,bookingDate
0,5fa8267c1bd2a03f4641a0a1,10000,112,26,1000,12,11,2020,8.30,10.30,2020-11-08T17:10:20.337Z
1,5fa826f01bd2a03f4641a0a3,10000,112,26,1000,12,11,2020,10.45,12.45,2020-11-08T17:12:16.357Z
2,5fa8271f1bd2a03f4641a0a5,10001,113,27,1000,9,11,2020,8.30,10.30,2020-11-08T17:13:03.208Z
3,5fa827301bd2a03f4641a0a7,10001,113,27,1000,9,11,2020,10.45,12.45,2020-11-08T17:13:20.913Z
4,5fa8274c1bd2a03f4641a0a9,10001,113,27,1000,9,11,2020,14.15,16.15,2020-11-08T17:13:48.793Z
...,...,...,...,...,...,...,...,...,...,...,...
3293,5fd9de93ff3b76b96dd79893,10084,113,27,1000,16,12,2020,14.15,16.15,2020-12-16T10:16:51.017Z
3294,5fd9ded1ff3b76b96dd79895,10300,113,27,1000,16,12,2020,14.15,16.15,2020-12-16T10:17:53.122Z
3295,5fd9dedfff3b76b96dd79897,10300,113,27,1000,16,12,2020,16.30,18.30,2020-12-16T10:18:07.068Z
3296,5fd9e0f2ff3b76b96dd798a1,10044,113,27,1000,16,12,2020,14.15,16.15,2020-12-16T10:26:58.767Z
3297,5fd9e104ff3b76b96dd798a3,10044,113,27,1000,16,12,2020,16.30,18.30,2020-12-16T10:27:16.407Z

In [9]:
booking.corr()

,id,aula,polo,sede,day,month,year,time.start,time.end
id,1.000000,-0.027880,-0.091846,0.088639,-0.001660,0.261693,NaN,0.060600,0.058792
aula,-0.027880,1.000000,0.452938,-0.033969,-0.008013,0.030535,NaN,0.048458,0.095929
polo,-0.091846,0.452938,1.000000,-0.208077,0.021303,-0.027628,NaN,0.136218,0.160135
sede,0.088639,-0.033969,-0.208077,1.000000,0.001449,-0.005303,NaN,-0.040561,-0.043913
day,-0.001660,-0.008013,0.021303,0.001449,1.000000,-0.669067,NaN,-0.012409,-0.012365
month,0.261693,0.030535,-0.027628,-0.005303,-0.669067,1.000000,NaN,0.025250,0.026146
year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
time.start,0.060600,0.048458,0.136218,-0.040561,-0.012409,0.025250,NaN,1.000000,0.998837
time.end,0.058792,0.095929,0.160135,-0.043913,-0.012365,0.026146,NaN,0.998837,1.000000

In [5]:
presence

,_id,aula,sede,polo,inDate,date,posto,outDate,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,5fa8ef7d1bd2a03f4641a15e,1.0,1.0,1.0,2020-11-09T07:27:57.078Z,2020-11-09T07:27:57.078Z,1.0,2020-11-09T12:05:00.362Z,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5fa8efa51bd2a03f4641a15f,1.0,1.0,1.0,2020-11-09T07:28:37.074Z,2020-11-09T07:28:37.074Z,2.0,2020-11-09T12:05:00.363Z,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5fa8f0751bd2a03f4641a160,1.0,1.0,1.0,2020-11-09T07:32:05.878Z,2020-11-09T07:32:05.879Z,3.0,2020-11-09T12:05:00.364Z,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5fa8f0811bd2a03f4641a161,1.0,1.0,1.0,2020-11-09T07:32:17.390Z,2020-11-09T07:32:17.390Z,4.0,2020-11-09T07:32:20.897Z,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5fa8f0891bd2a03f4641a162,1.0,1.0,1.0,2020-11-09T07:32:25.980Z,2020-11-09T07:32:25.980Z,5.0,2020-11-09T07:32:36.245Z,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9837,5fd9ddcfff3b76b96dd7988b,19.0,1.0,5.0,2020-12-16T10:13:35.299Z,2020-12-16T10:13:35.299Z,12.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9838,5fd9ddf1ff3b76b96dd7988e,1.0,1.0,1.0,2020-12-16T10:14:09.471Z,2020-12-16T10:14:09.471Z,46.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9839,5fd9de6cff3b76b96dd79891,13.0,4.0,9.0,2020-12-16T10:16:12.267Z,2020-12-16T10:16:12.267Z,15.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9840,5fd9df86ff3b76b96dd79898,19.0,1.0,5.0,2020-12-16T10:20:54.612Z,2020-12-16T10:20:54.612Z,13.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9841,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
booking

,_id,id,aula,polo,sede,day,month,year,time.start,time.end,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
0,5fa8267c1bd2a03f4641a0a1,10000,1000,1000,1000,12,11,2020,8.30,10.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.0
1,5fa826f01bd2a03f4641a0a3,10000,1000,1000,1000,12,11,2020,10.45,12.45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1001.0
2,5fa8271f1bd2a03f4641a0a5,10001,1001,1001,1000,9,11,2020,8.30,10.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1002.0
3,5fa827301bd2a03f4641a0a7,10001,1001,1001,1000,9,11,2020,10.45,12.45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1003.0
4,5fa8274c1bd2a03f4641a0a9,10001,1001,1001,1000,9,11,2020,14.15,16.15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1004.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3293,5fd9de93ff3b76b96dd79893,10084,1001,1001,1000,16,12,2020,14.15,16.15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3294,5fd9ded1ff3b76b96dd79895,10300,1001,1001,1000,16,12,2020,14.15,16.15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3295,5fd9dedfff3b76b96dd79897,10300,1001,1001,1000,16,12,2020,16.30,18.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3296,5fd9e0f2ff3b76b96dd798a1,10044,1001,1001,1000,16,12,2020,14.15,16.15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3297,5fd9e104ff3b76b96dd798a3,10044,1001,1001,1000,16,12,2020,16.30,18.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,_id,aula,sede,polo,inDate,date,posto,outDate,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,5fa8ef7d1bd2a03f4641a15e,1.0,1.0,1.0,2020-11-09T07:27:57.078Z,2020-11-09T07:27:57.078Z,1.0,2020-11-09T12:05:00.362Z,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5fa8efa51bd2a03f4641a15f,1.0,1.0,1.0,2020-11-09T07:28:37.074Z,2020-11-09T07:28:37.074Z,2.0,2020-11-09T12:05:00.363Z,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5fa8f0751bd2a03f4641a160,1.0,1.0,1.0,2020-11-09T07:32:05.878Z,2020-11-09T07:32:05.879Z,3.0,2020-11-09T12:05:00.364Z,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5fa8f0811bd2a03f4641a161,1.0,1.0,1.0,2020-11-09T07:32:17.390Z,2020-11-09T07:32:17.390Z,4.0,2020-11-09T07:32:20.897Z,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5fa8f0891bd2a03f4641a162,1.0,1.0,1.0,2020-11-09T07:32:25.980Z,2020-11-09T07:32:25.980Z,5.0,2020-11-09T07:32:36.245Z,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9837,5fd9ddcfff3b76b96dd7988b,19.0,1.0,5.0,2020-12-16T10:13:35.299Z,2020-12-16T10:13:35.299Z,12.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9838,5fd9ddf1ff3b76b96dd7988e,1.0,1.0,1.0,2020-12-16T10:14:09.471Z,2020-12-16T10:14:09.471Z,46.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9839,5fd9de6cff3b76b96dd79891,13.0,4.0,9.0,2020-12-16T10:16:12.267Z,2020-12-16T10:16:12.267Z,15.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9840,5fd9df86ff3b76b96dd79898,19.0,1.0,5.0,2020-12-16T10:20:54.612Z,2020-12-16T10:20:54.612Z,13.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9841,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
booking.corr()

,id,aula,polo,sede,day,month,year,time.start,time.end,Unnamed: 12,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
id,1.000000,0.071601,0.085742,0.088639,-0.001660,0.261693,NaN,0.060600,0.058792,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.972598
aula,0.071601,1.000000,0.966385,0.443433,0.000364,0.006882,NaN,-0.072564,-0.105177,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.269061
polo,0.085742,0.966385,1.000000,0.571605,0.003818,0.011659,NaN,-0.090295,-0.122074,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.269061
sede,0.088639,0.443433,0.571605,1.000000,0.001449,-0.005303,NaN,-0.040561,-0.043913,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
day,-0.001660,0.000364,0.003818,0.001449,1.000000,-0.669067,NaN,-0.012409,-0.012365,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.590097
month,0.261693,0.006882,0.011659,-0.005303,-0.669067,1.000000,NaN,0.025250,0.026146,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
time.start,0.060600,-0.072564,-0.090295,-0.040561,-0.012409,0.025250,NaN,1.000000,0.998837,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.329506
time.end,0.058792,-0.105177,-0.122074,-0.043913,-0.012365,0.026146,NaN,0.998837,1.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.329506
Unnamed: 12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 24,0.972598,0.269061,0.269061,NaN,-0.590097,NaN,NaN,0.329506,0.329506,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000